<button class="btn btn-primary" [routerLink]="['/item']">New Item</button>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Prenom</th>
            <th>Nom de famille222222222</th>
            <th>Adresse Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of people">
            <td>{{person.firstname}}</td>
            <td>{{person.lastname}}</td>
            <td>{{person.email}}</td>
            <td><a [routerLink]="['/item', person.id]">edit</a> | <a href="#" (click)="delete(person.id)">delete</a></td>
        </tr>
    </tbody>
</table>
